---
import BaseLayout from '@layouts/BaseLayout.astro';
import PageTitle from '@components/PageTitle';
import RecentPost from '@components/RecentPost';
---

<BaseLayout title={'Home'}>
  <div id="home">
    <PageTitle title={'Recent Posts'} />
    <RecentPost />
  </div>
</BaseLayout>
